!!! 5
%html(ng-app='dmrps')
  %head
    %meta(charset='utf-8')
    %title Remote RPS DM Computers 
    = stylesheet_link_tag 'http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css'
    = stylesheet_link_tag 'http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css'
    = stylesheet_link_tag 'jquery-ui-timepicker-addon'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'select2.css'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js'
    = javascript_include_tag 'jquery-ui-timepicker-addon'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-cookies.min.js'
    = javascript_include_tag 'ui-bootstrap-tpls-0.6.0'
    = javascript_include_tag 'jq'
    = javascript_include_tag 'select2.js'
    = javascript_include_tag 'angular-ui/select2'
    = javascript_include_tag 'angular-ui/date'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %div.navbar.navbar-fixed-top(ng-controller='MainNavCtrl')
      %div.navbar-inner
        %a.brand(href='/')DM RPS (beta)
        %ul.nav(ng-show='currentUser')
          %li.dropdown
            %a.dropdown-toggle(href='#' data-toggle='dropdown')
              Sistema
              %b.caret
            %ul.dropdown-menu
              %li
                %a(href='#/users')Gestione utenti
              %li
                %a(href='#/clients')Gestione clienti
              %li
                %a(href='#/activities')Gestione attivita'
          %li
            %a(href='#/interventions')
              %i.icon-calendar
              Interventi
        %ul.nav.pull-right
          %li(ng-show='currentUser')
            %button(type='button' class='btn' ng-click='logout()')Logout
          %li
            %a
              %img#spinner(src='assets/spinner.gif')
        %form.navbar-form.pull-right(ng-hide='currentUser')
          %input.input-small(type='text' placeholder='E-mail' ng-model='loginInfo.email')
          %input.input-small(type='password' placeholder='Password' ng-model='loginInfo.password')
          %button.btn(type='button' ng-click='login()')Login

    %div.container(ng-view)


